body {
    background-color: bisque;
}

h1 {
    font-size: 20px;
    color: blueviolet;
}

h2 {
    font-size: 16px;
}

li {
    margin: 20px;
}

ol,
ul {
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.content-left {
    padding: 20px;
    border: 1px solid black;
    width: 70%;
    background: blue;
    margin: 10px;
    border-radius: 10px;
}

.content-right {
    padding: 20px;
    border: 1px solid white;
    width: 20%;
    background: grey;
    margin: 10px;
    border-radius: 10px;
}

.cat {
    width: 300px;
    height: 300px;
}

.header {
    background-color: aqua;
    padding: 15px;
    text-align: right;
    border: 1px solid grey;
    border-radius: 10px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 0 auto;
}

.container {
    background-color: brown;
}

.container-2 {
    background-color: brown;
    height: 400px;
    display: flex;
    align-items: center;
}

.container-3 {
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-4 {
    border: 1px solid black;
}

.block-2 {
    background-color: aquamarine;
    margin: 0 auto;
}

.block-3 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 10px;
}

.red {
    position: relative;
    border: 2px solid red;
    left: 20px;
    top: 20px;
}

.green {
    position: relative;
    border: 2px solid green;
    left: 150px;
    top: -40px;
}

.blue {
    position: relative;
    border: 2px solid blue;
    left: 280px;
    top: -100px;
}

.abs-cat {
    position: fixed;
    right: 0;
    bottom: 0;
}

.abs-cat img {
    width: 100px;
    height: 100px;
}