td {
    padding: 5px;
}

th {
    text-align: left;
    background-color: aquamarine;
}

tr:nth-child(2n) {
    background-color: blanchedalmond;
}

tr:nth-child(2n+1) {
    background-color: beige;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-last-child(1) {
    background-color: blueviolet;
}